body {
    position: relative;
    margin: 0px auto;
    width: 1000px;
}

.vline.hidden {
    display: none;
}

.tooltip.hidden {
    display: none;
}


p {
    font-family: Georgia,serif;
}
h1 {
    font-family: "SourceSansPro", "Helvetica", Arial, sans-serif;
    color: #aaa;
}
.footer {
    text-align: center;
    font-size: 10px;
    margin-top: 80px;
}

a {
    text-decoration: none;
}
.myChart {
    position: relative;
    top: 30px;
}

.source{
    text-align: right;
}
  
.line {
    fill: none;
    stroke-width: 2px;
}
.line.ten.ref {
    stroke: #90B4D2;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    opacity: .4;
}

.axis {
    font-family: arial;
    font-size: 0.6em;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
}
